{% extends 'base.html' %}

{% block content %}
<br>
<br>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <iconify-icon icon="material-symbols:cloud-download" style="font-size: 30px;"></iconify-icon>
            <br>

            <div class="container text-center">
                <br>
                <p id="progress">Starting downloading jobs...</p>
            </div>

            <script>
                const socket = io();

                // Listen for updates on progress
                socket.on('update_progress', function(data) {

                    const progressContainer = document.getElementById('progress');
                    progressContainer.innerText = data.progress;
                });

                // Automatically start the batch job when the page loads
                window.onload = function startBatch() {
                    fetch('/start_batch')
                        .then(response => console.log("Batch job started"))
                        .catch(error => console.error("Error starting batch job:", error));
                };
            </script>
        </div>
    </div>
</div>
{% endblock %}
