{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">List Top LLM Aligned Jobs</h2>
    <p><iconify-icon icon="material-symbols:info" style="font-size: 30px;"></iconify-icon>
        These are jobs the generative AI large-language model feels align the most.
        These may be inaccurate.
    </p>
    <br>

    {% if jobs is defined %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-light">
                <tr>
                    <th scope="col">LLM Total Score</th>
                    <th scope="col">Status</th>
                    <th scope="col">URL</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{ job['evaluation_value'] }}</td>
                    <td>{{ job['status'] }}</td>
                    <td><a href="{{ job['url'] }}" target="_blank">{{ job['url'] }}</a></td>
                    <td><a class="btn btn-primary" href="/details/{{ job['id']}}"><iconify-icon icon="material-symbols:topic"></iconify-icon> Details</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
