{% extends 'base.html' %}

{% block content %}
<br>
<div class="container text-center">
    <h2>Post Job Search</h2>
    <br>
    {% if query is defined %}
        <p>Search results for: '{{ query }}' added to database</p>
        <iconify-icon icon="material-symbols:check" style="font-size: 30px;"></iconify-icon>
    {% endif %}
    <br>
    <p>Would you like to download the jobs data next?</p>
    <a class="btn btn-primary" href="/download_jobs"><iconify-icon icon="material-symbols:cloud-download"></iconify-icon> Download Jobs</a>
    <br><br><br>
    <p>Or run another job search?</p>
    <a class="btn btn-primary" href="/run_job_search"><iconify-icon icon="material-symbols:search"></iconify-icon> Run Job Search</a>
</div>
<br>
{% endblock %}
